@import 'globals';

.detail-comments-container {
  @include flexCenter;
  flex-direction: column;
  gap: 2rem;
  width: 80%;
}

.detail-container {
  margin-top: 6rem;
  background-color: $midnight-blue;
  width: fit-content;
  padding: 4rem;
  height: fit-content;
  @include flexCenter;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
  position: relative;
}

.detail-image {
  width: 500px;
  height: 500px;
}

.detail-back-button {
  position: absolute;
  top: 2rem;
  left: 2rem;
  cursor: pointer;
  padding: 0.5rem;
  background-color: $dark-blue;
  border: 1px solid white;
  color: white;
}

.detail-info-container {
  @include flexCenter;
  flex-direction: column;
  height: 70%;  
  width: 95%;
  gap: 1rem;
}

.detail-info-buy{
  background-color: $dark-blue;
  padding: 1rem;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  margin-top: 2rem;
}

.detail-info-container-separator {
  @include flexCenter;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

.detail-info-text {
  width: 50%;
}

.detail-info-genres {
  gap: 2rem;
}

.comments-container {
  background-color: $midnight-blue;
  width: 50%;
  height: fit-content;
  padding: 2rem;
  @include flexCenter;
  flex-direction: column;
  gap: 1rem;
  color: white;
}

.comments-form {
  @include flexCenter;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid white;
  input {
    padding: 0.5rem;
  }
  .comments-form-submit {
    background-color: $dark-blue;
    color: white;
    border: 1px solid white;
    cursor: pointer;
  }
}

.comments-form-error{
  background-color: rosybrown;
  border: 1px solid red;
  color: white;
  padding: 1rem;
  display: none;
}

.comment {
  color: white;
  width: 80%;
  padding: 1rem;
  border: 1px solid white;
  .comment-user {
    font-size: 0.7rem;
    font-style: italic;
  }
  .comment-body {
    align-self: center;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .detail-container {
    width: 100%;
    min-height: fit-content;
    padding: 1rem;
  }
  .detail-info-container-separator {
    flex-direction: column;
    width: 100%;
  }
  .detail-info-container {
    height: fit-content;
    padding-bottom: 2rem;
  }
  .detail-info-text {
    width: 80%;
  }
  .detail-screenshot-container {
    height: auto;
  }
  .comments-container {
    width: 100%;
  }
  .comments-form {
    flex-direction: column;
  }
}

@media (max-width: 650px){
  .detail-image{
    width: 300px;
    height: 300px;
    align-self: center;
  }
}

@media (max-width: 370px){
  .detail-image{
    width: 200px;
    height: 200px;
    align-self: center;
  }
}