@import 'globals';

.footer {
  background-color: $dark-blue;
  width: 100%;
  height: 20vh;
  margin-top: 3rem;
  @include flexCenter;
  flex-direction: column;
  gap: 1rem;
}

.footer-item {
  color: white;
}
