// COLOR PALETTE

$dark-blue: #001f3d;
$misty-blue: #ccdada;
$midnight-blue: #0f4a6f;
$grotto-blue: #1477b2;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin flexWrap {
  display: flex;
  flex-wrap: wrap;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

.root {
  background-color: $misty-blue;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
