@import 'globals';

.user-container {
    border: 1px solid white;
    padding: 0.7rem 1.2rem 0.7rem 1.2rem;
    color: white;
    @include flexAround;
    gap: 1rem;
}

.user-container:hover{
    cursor: pointer;
}

.user-img{
    border-radius: 50%;
    width: 30px;
}

.login-container{
    @include flexCenter;
    flex-direction: column;
    width: 300px;
    height: 400px;
    background-color: $dark-blue;
    margin-bottom: 5rem;
    gap: 1rem;
    padding: 1.5rem;
}

.login-title{
    color: white;
    font-size: 3rem;
}

.login-form{
    @include flexCenter;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
}

.login-form-input{
    padding: 0.5rem;
}

.login-form-submit{
    padding: 0.5rem;
    color: white;
    background-color: $midnight-blue;
    border: 1px solid white;
    cursor: pointer;
}

.login-error{
    border: 1px solid red;
    color: white;
    background-color: rosybrown;
    padding: 1rem;
}

.login-loading{
    color: white;
}

.login-user-item{
    color: white;
}

.login-button-logout{
    background-color: rosybrown;
    border: 1px solid red;
    color: white;
    cursor: pointer;
    padding: 0.4rem;
}